@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Manrope', 'sans-serif';
}
.top-bar{
background-color: #e94154;
padding: 10px 0;
}
body{
  margin: 0;
}
.bar-contact a {
color: #fff;
text-decoration: none;

}
.bar-contact a span {
  vertical-align: middle;
  margin-right: 10px;
}
.bar-cta p {
  color: white;
}
.bar-cta p a {
  color: white;
}
.bar-cta p a:hover {
  color: black;
}
.bar-localisation ul {
color: white;
margin: 0;
padding: 0;
list-style: none;
display: flex;
gap: 24px;
}
.bar-localisation ul li span {
  vertical-align: middle;
}
.btn{
  @apply py-2 px-4 font-bold rounded-3xl  block w-fit;
}
.btn-atc{
  @apply btn border border-black hover:bg-girlcode-pink hover:text-white hover:border-girlcode-pink;
}
